@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  &__full-width {
    width: 100%;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
  }
}
