@import "variables";

@mixin bgc-gradient {
  background-image: linear-gradient(0, $secondary-color, $primary-color);
}
// prefix
@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }
  $property: $value;
}
//size
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
//position
@mixin position-tlbr($top: auto, $left: auto, $bottom: auto, $right: auto) {
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}
//border-radius
%primary-border-radius {
  border-radius: 3px;
}

%primary-input {
  @include size(100%, 40px);
  font-size: 1.4rem;
  padding: 0 12px;
  border: 1px $border-color solid;
  @extend %primary-border-radius;
  outline: none;
}
