// ---------COLORS---------
$white-color: #fff;
$black-color: #000;
$text-primary-color: #333;
$text-secondary-color: #756f6e;
$primary-color: rgb(245, 62, 45);
$notify-list-color: rgba(245, 62, 45, 0.1);
$secondary-color: #fe6433;
$border-color: #d3d3d3;

//-----------HEIGHT---------
$navbar-height: 30px;
$header-height: 120px;
$header-bottom-height: calc(#{$header-height - $navbar-height});
