@import "base";
@import "variables";
@import "./mixins";
// header
.header {
  height: 120px;
  @include bgc-gradient;
  //   navbar
  &__navbar {
    display: flex;
    justify-content: space-between;
    // list
    &-list {
      padding-left: 0;
      list-style: none;
      //   item
      & > .-item {
        display: inline-block;
        margin: 0 8px;
        position: relative;
        //hover
        &:hover,
        & > .-link:hover,
        & > .icon-link:hover {
          cursor: pointer;
          color: rgba($color: $white-color, $alpha: 0.7);
        }
        //item: css text
        &,
        & > .-link,
        & > .icon-link {
          font-size: 1.4rem;
          color: $white-color;
          text-decoration: none;
          font-weight: 300;
          &.-bold {
            font-weight: 600;
          }
        }
        //separate
        &.-separate::after {
          content: "";
          display: block;
          position: absolute;
          @include size(1px, 14px);
          background-color: $white-color;
          top: 50%;
          @include prefix(transform, translateY(-50%), webkit ms);
          margin-right: -9px;
          right: 0;
        }
      }
      & > .-disable-hover:hover {
        cursor: text;
        color: $white-color;
      }
      & > .-has-qr:hover .header__qr {
        display: block;
      }
    }
  }
  //QR Code
  &__qr {
    background-color: $white-color;
    @include size(190px, auto);
    position: absolute;
    @include position-tfbr(calc(100% + 10px), 0, auto, auto);
    padding: 4px;
    @include primary-border-radius;
    display: none;
    animation: fadeIn ease-in-out 0.3s;
    &-img {
      @include size(100%, auto);
    }
    &-apps {
      display: flex;
      justify-content: space-around;
      & > .-link {
        & > .-img {
          @include size(auto, 17px);
        }
      }
    }
    &::before {
      content: "";
      display: block;
      @include size(100%, 25px);
      position: absolute;
      top: -20px;
      left: 0;
    }
  }
}
