@import "base";
@import "variables";
@import "./mixins";
// header
.header {
  height: $header-height;
  @include bgc-gradient;
  //   navbar
  &__navbar {
    display: flex;
    justify-content: space-between;
    height: $navbar-height;
    // list
    &-list {
      margin: 10px 0 0 0;
      padding-left: 0;
      list-style: none;
      display: flex;
      //   item
      & > .-item {
        display: inline-block;
        margin: 0 8px;
        position: relative;
        //hover
        &:hover,
        & > .-link:hover,
        & > .icon-link:hover {
          cursor: pointer;
          color: rgba($color: $white-color, $alpha: 0.7);
        }
        //item: css text
        &,
        & > .-link,
        & > .icon-link {
          font-size: 1.4rem;
          color: $white-color;
          text-decoration: none;
          font-weight: 300;
          &.-bold {
            font-weight: 600;
          }
        }
        //separate
        &.-separate::after {
          content: "";
          display: block;
          position: absolute;
          @include size(1px, 14px);
          background-color: $white-color;
          top: 50%;
          @include prefix(transform, translateY(-50%), webkit ms);
          margin-right: -9px;
          right: 0;
        }

        .-user {
          display: flex;
          justify-content: center;
          position: relative;
          &:hover .-user-menu {
            display: block;
          }
          .-user__img {
            @include size(22px);
            border-radius: 50%;
            border: 1px solid rgba($color: #000000, $alpha: 0.1);
          }
          .-user-name {
            margin-left: 8px;
          }

          .-user-menu {
            @extend %primary-border-radius;
            position: absolute;
            padding-left: 0;
            top: calc(100% + 5px);
            right: 0;
            background-color: $white-color;
            list-style: none;
            width: 160px;
            z-index: 1;
            box-shadow: 0 1px 2px #ddd;
            display: none;

            &::before {
              content: "";
              border: 12px solid;
              border-bottom: 10px solid;
              border-color: transparent transparent $white-color transparent;
              position: absolute;
              top: -22px;
              right: 16px;
            }

            &::after {
              content: "";
              @include size(100%, 25px);
              position: absolute;
              top: -20px;
            }

            .-user-item {
              text-align: left;
              a {
                display: block;
                padding: 8px;
                padding-left: 20px;
                text-decoration: none;
                color: $text-primary-color;
              }
              &:hover {
                background-color: #f7f7f7;
              }
              &:first-child {
                border-radius: 3px 3px 0 0;
              }
              &:last-child {
                border-radius: 0 0 3px 3px;
                border-top: 1px solid rgba($color: #000000, $alpha: 0.05);
              }
            }
          }
        }
      }
      // hover items
      & > .-disable-hover:hover {
        cursor: text;
        color: $white-color;
      }
      & > .-has-qr:hover .header__qr {
        display: block;
      }
      & > .-has-notify:hover .header__notify {
        display: block;
      }
    }
  }
  //QR Code
  &__qr {
    background-color: $white-color;
    @include size(190px, auto);
    position: absolute;
    @include position-tlbr(calc(100% + 10px), 0, auto, auto);
    padding: 4px;
    @extend %primary-border-radius;
    display: none;
    animation: fadeIn ease-in-out 0.3s;
    &-img {
      @include size(100%, auto);
    }
    &-apps {
      display: flex;
      justify-content: space-around;
      & > .-link {
        & > .-img {
          @include size(auto, 17px);
        }
      }
    }
    &::before {
      content: "";
      display: block;
      @include size(100%, 25px);
      position: absolute;
      top: -20px;
      left: 0;
    }
  }
  // NOTIFY
  &__notify {
    position: absolute;
    background-color: $white-color;
    @include position-tlbr(calc(100% + 10px), auto, auto, 0);
    @include size(400px, auto);
    color: $text-primary-color;
    border: $border-color 1px;
    animation: growth ease-in 0.3s;
    transform-origin: calc(100% - 20px) top;
    display: none;
    z-index: 1;
    @extend %primary-border-radius;
    box-shadow: 0 1px 2px #ddd;

    & > .-header {
      margin: 12px;
      cursor: default;
      @include size(auto, 30px);
      h3 {
        margin: 0;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 30px;
      }
    }

    &-list {
      padding: 0;
      list-style: none;

      & .-item {
        & .-link {
          padding: 12px;
          display: flex;
          text-decoration: none;
          color: $text-primary-color;
          background-color: $notify-list-color;

          & .-img {
            width: 48px;
            object-fit: contain;
          }

          & > .-info {
            margin-left: 10px;
            .-info__name {
              font-size: 1.4rem;
              color: $black-color;
              font-weight: 600;
            }
            .-info__desc {
              font-size: 1.2rem;
              color: $text-secondary-color;
            }
            p {
              margin: 0;
              line-height: 22px;
            }
          }

          &:hover {
            background-color: #f7f7f7;
          }
        }
      }
    }
    & > .-footer {
      display: flex;
      & > .-btn-load-more {
        text-decoration: none;
        text-align: center;
        padding: 10px 0;
        width: 100%;
        margin: auto;
        font-weight: 600;
      }
    }
    //arrow
    &::before {
      content: "";
      border: 12px solid;
      border-bottom: 10px solid;
      border-color: transparent transparent $white-color transparent;
      position: absolute;
      top: -22px;
      right: 16px;
    }
    &::after {
      content: "";
      @include size(100%, 25px);
      position: absolute;
      top: -20px;
    }
  }
  // HEADER WITH SEARCH
  &-with-search {
    height: $header-bottom-height;
    display: flex;
    align-items: center;
    margin: 0 8px;
  }
  &__logo {
    width: 200px;
    &-img {
      width: 150px;
      path {
        fill: $white-color;
      }
    }
    &-link {
      text-decoration: none;
    }
  }
  &__search {
    height: 40px;
    flex-grow: 1;
    background: $white-color;
    display: flex;
    align-items: center;
    @extend %primary-border-radius;
    &-input-wrap {
      flex-grow: 1;
      position: relative;
    }
    &-input {
      @include size(100%);
      border: none;
      outline: none;
      font-size: 1.6rem;
      color: $text-primary-color;
      padding: 0 16px;
      &:focus + .header__search-history {
        display: block;
      }
    }
    // History search
    &-history {
      position: absolute;
      top: calc(100% + 14px);
      left: 0;
      background-color: $white-color;
      width: calc(100% - 16px);
      @extend %primary-border-radius;
      box-shadow: 0 1px 2px #ddd;
      display: none;
      .-heading {
        margin: 8px 12px;
        font-size: 1.4rem;
        color: $text-secondary-color;
      }
      .-list {
        padding-left: 0;
        list-style: none;
        margin: 0;
        .-item {
          height: 38px;
          padding: 0 12px;
          line-height: 38px;
          &:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
          }
          &:hover {
            background-color: #fafafa;
          }
          .-link {
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: 500;
            color: $text-primary-color;
            display: block;
          }
        }
      }
    }
    &-select {
      border-left: 1px $border-color solid;
      padding: 0 16px;
      position: relative;
      cursor: pointer;
      .-label,
      .-icon {
        font-size: 1.4rem;
      }

      .-option {
        position: absolute;
        right: 0;
        top: calc(100% + 5px);
        background-color: $white-color;
        @extend %primary-border-radius;
        list-style: none;
        padding: 0;
        width: 130px;
        box-shadow: 0 1px 2px #ddd;
        display: none;

        .-item:first-child {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
        .-item:last-child {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
        }
        .-item {
          padding: 8px;
          text-align: left;
          span {
            font-size: 1.4rem;
          }
          i {
            font-size: 1.2rem;
            color: $primary-color;
            margin: 0 0 0 12px;
            display: none;
          }
          &.-active i {
            display: inline-block;
          }
          &:hover {
            background: #fafafa;
          }
        }
      }
      .-option::before {
        content: "";
        position: absolute;
        display: block;
        @include size(100%, 20px);

        top: -15px;
      }
      // Show option
      &:hover .-option {
        display: block;
      }
    }
    .btn-search {
      background: $primary-color;
      outline: none;
      border: none;
      cursor: pointer;
      @include size(60px, 34px);
      margin-right: 3px;
      > .-icon {
        color: $white-color;
        font-size: 1.6rem;
      }
      &:hover {
        background: rgba($color: $primary-color, $alpha: 0.9);
      }
    }
  }
  // HEADER CART
  &__cart {
    @include size(100px, auto);
    text-align: center;

    &-wrap {
      display: inline-block;
      position: relative;
      padding: 3px 10px;
      &:hover > .header__cart-list {
        display: block;
      }
    }

    &-icon {
      color: $white-color;
      font-size: 2.4rem;
      & + .-icon-notice {
        position: absolute;
        font-size: 1.4rem;
        line-height: 1.4rem;
        color: $secondary-color;
        background: $white-color;
        border: 2px solid $primary-color;
        border-radius: 10px;
        padding: 1px 7px;
        font-weight: 600;
        top: -6px;
        right: -4px;
      }
    }

    & .-no-cart-text {
      font-size: 1.4rem;
      cursor: default;
      display: none;
    }
    & .-no-cart-img {
      width: 25%;
      object-fit: contain;
      display: none;
    }
    & .-no-cart {
      padding: 20px 0;
      display: block;

      & .-no-cart-text {
        font-size: 1.4rem;
        cursor: default;
        display: block;
      }
      & .-no-cart-img {
        width: 25%;
        object-fit: contain;
        display: block;
        margin: 0 auto;
      }
    }

    & .-heading {
      text-align: left;
      margin: 8px 0px 8px 12px;
      font-size: 1.4rem;
      color: $text-secondary-color;
    }
    & .-list-items {
      padding: 0;
      list-style: none;
    }
    & .-item {
      display: flex;
      padding: 12px;

      &:hover {
        background: #f7f7f7;
        cursor: default;
      }

      &__img {
        @include size(50px);
        margin-left: 12px;
        border: 1px solid #e8e8e8;
      }
      &__info {
        width: 100%;
      }
      &__info-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50%;

        .-name {
          font-size: 1.4rem;
          font-weight: 400;
          flex: 1;
          margin: 0;
        }
        .-price {
          flex: 1;
          font-size: 1.4rem;
          color: $primary-color;
          text-align: right;
          white-space: normal;
        }
      }
      &__info-body {
        height: 50%;
        text-align: left;
        margin-left: 12px;
        display: flex;
        justify-content: space-between;

        .-category {
          font-size: 1.2rem;
          color: #939393;
        }
        .-btn-remove {
          font-size: 1.4rem;
          &:hover {
            cursor: pointer;
            color: $primary-color;
          }
        }
      }
    }

    .-btn-view-cart {
      float: right;
      margin: 0 10px 10px 0;
      &:hover {
        background: rgba($color: $primary-color, $alpha: 0.9);
      }
    }

    &-list {
      @include size(400px, auto);
      position: absolute;
      top: calc(100% + 10px);
      right: -5px;
      background: $white-color;
      border-radius: 3px;
      box-shadow: 0 1px 10px rgba($color: #000000, $alpha: 0.2);
      display: none;
      animation: fadeIn ease-in-out 0.2s;

      &::before {
        content: "";
        position: absolute;
        top: -25px;
        right: 6px;
        border-width: 15px 20px;
        border-style: solid;
        border-color: transparent transparent $white-color transparent;
      }
    }
  }
}

// Form Login - Register
.auth-form {
  @include size(500px, auto);
  &__container {
    padding: 16px 32px;
  }
  // Header
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    & > .-heading {
      font-size: 2.2rem;
      font-weight: 600;
    }
    & > .-btn-switch {
      font-size: 1.6rem;
      font-weight: 600;
      color: $primary-color;
      cursor: pointer;
    }
  }
  // Form
  &__content {
    margin-top: 20px;
    .form {
      &__item {
        margin-top: 16px;
        > .-input {
          @extend %primary-input;
        }
      }
      &__aside {
        margin-top: 20px;
        text-align: center;
        & > .-content {
          font-size: 1.4rem;
          font-weight: 500;
          & > .-link {
            text-decoration: none;
            color: $primary-color;
          }
        }
        > .form__help {
          display: flex;
          justify-content: flex-end;
          .-link {
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: 500;
            color: #939393;
            &.-forgot {
              color: $primary-color;
            }
          }
          .-separate {
            display: block;
            border: $border-color 1px solid;
            margin: 0 16px;
          }
        }
      }

      &__controls {
        margin-top: 100px;
        display: flex;
        justify-content: flex-end;
        & > .btn:first-child {
          margin-right: 8px;
          background-color: $white-color;
          &:hover {
            background-color: rgba($color: #000000, $alpha: 0.05);
          }
        }
      }
    }
  }
  &__socials {
    background-color: #f5f5f5;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    & .btn {
      font-size: 1.2rem;
      flex-grow: 1;
      padding: 0 8px;
      &:first-child {
        margin-right: 10px;
      }
      &:last-child {
        margin-left: 10px;
      }
      &.-fb {
        color: $white-color;
        background-color: #3a5a98;
      }
      &.-gg {
        background-color: $white-color;
      }
      span {
        margin: 0 24px;
      }
    }
  }
}
// Danh má»¥c body
.app_container {
  background: #f5f5f5;
}

.app_content {
  padding-top: 24px;
}

.category {
  background-color: $white-color;
  @extend %primary-border-radius;

  &_list {
    padding: 0 10px 0 10px;
    list-style: none;
    margin-top: 0;
    &-heading {
      font-size: 1.7rem;
      color: $text-primary-color;
      padding: 8px 16px;
      margin: 0 0 20px 0;
      &-icon {
        font-size: 1.5rem;
        margin-right: 4px;
      }
    }
  }

  &-item {
    border-bottom: 1px solid #dddddd;
    &__link {
      text-decoration: none;
      color: $text-primary-color;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 8px 16px;
      display: block;
    }
    &.category-item-active > .category-item__link {
      color: $primary-color;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
// Sort & Filter products.
.home-filter {
  background-color: #ededed;
  display: flex;
  align-items: center;
  padding: 12px 22px;
  @extend %primary-border-radius;
  &__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
    font-weight: 600;
  }
  .btn {
    width: auto;
    min-width: auto;
    margin-right: 12px;
    padding: 0 15px;
  }

  //pagination
  &__pagination {
    display: flex;
  }

  .home-filter__pagination {
    margin-left: auto;
    display: flex;
    align-items: center;

    .page-num {
      font-size: 1.4rem;
      margin-right: 24px;
      font-weight: 600;
      .page-current {
        color: $primary-color;
      }
      .page-total {
      }
    }

    .page-control {
      @extend %primary-border-radius;
      @include size(72px, 36px);
      overflow: hidden;
      display: flex;
      &__left,
      &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        @include size(36px);
        text-decoration: none;
        background-color: $white-color;
        font-size: 1.4rem;
        color: $text-primary-color;
      }
      .-disable {
        background-color: #f9f9f9;
        color: #cccccc;
        border-right: 1px solid #eee;
      }
    }
  }
}
