@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
.auth-form__content .form__item > .-input, .modal__body, .btn, .select-input, .select-input__list, .header__navbar-list > .-item .-user .-user-menu, .header__qr, .header__notify, .header__search, .header__search-history, .header__search-select .-option, .category, .home-filter, .home-filter .home-filter__pagination .page-control, .home-product-item {
  border-radius: 3px;
}

.auth-form__content .form__item > .-input {
  width: 100%;
  height: 40px;
  font-size: 1.4rem;
  padding: 0 12px;
  border: 1px #d3d3d3 solid;
  outline: none;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Quicksand", sans-serif;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.grid__col-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}

.grid__col-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
}

.grid__col-2-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes growth {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes growth {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.modal {
  -webkit-animation: fadeIn linear 0.2s;
          animation: fadeIn linear 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modal__body {
  position: relative;
  background-color: #fff;
  margin: auto;
  -webkit-animation: growth 0.1s linear;
          animation: growth 0.1s linear;
}

.btn {
  width: 148px;
  height: 36px;
  min-width: 148px;
  border: none;
  text-decoration: none;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: #333;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.btn.-primary {
  background-color: #ee4d2d;
  color: #fff;
}

.btn.-disable {
  color: #756f6e;
  cursor: default;
  background-color: #c3c3c3;
}

.btn.-size-s {
  height: 30px;
}

.select-input {
  height: 34px;
  min-width: 200px;
  padding: 0 12px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  position: relative;
  z-index: 1;
}

.select-input__label {
  font-weight: 600;
}

.select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 1px);
  background-color: #fff;
  margin: 0;
  padding: 10px 0;
  list-style: none;
  display: none;
}

.select-input__list .-item a {
  width: 100%;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px 0 15px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  color: #333;
}

.select-input__list .-item a:hover {
  color: #ee4d2d;
}

.select-input:hover .select-input__list {
  display: block;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  padding: 0;
}

.pagination-item {
  margin: 0 10px;
}

.pagination-item:first-child {
  margin-left: 0;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item__link {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 40px;
  height: 30px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

.pagination-item.-actived .pagination-item__link {
  background-color: #ee4d2d;
  color: #fff;
}

.auth-form__content .form__item > .-input, .modal__body, .btn, .select-input, .select-input__list, .header__navbar-list > .-item .-user .-user-menu, .header__qr, .header__notify, .header__search, .header__search-history, .header__search-select .-option, .category, .home-filter, .home-filter .home-filter__pagination .page-control, .home-product-item {
  border-radius: 3px;
}

.auth-form__content .form__item > .-input {
  width: 100%;
  height: 40px;
  font-size: 1.4rem;
  padding: 0 12px;
  border: 1px #d3d3d3 solid;
  outline: none;
}

.header {
  height: 120px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#fe6433), to(#ee4d2d));
  background-image: linear-gradient(0, #fe6433, #ee4d2d);
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
}

.header__navbar-list {
  margin: 10px 0 0 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navbar-list > .-item {
  display: inline-block;
  margin: 0 8px;
  position: relative;
}

.header__navbar-list > .-item:hover,
.header__navbar-list > .-item > .-link:hover,
.header__navbar-list > .-item > .icon-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header__navbar-list > .-item,
.header__navbar-list > .-item > .-link,
.header__navbar-list > .-item > .icon-link {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-list > .-item.-bold,
.header__navbar-list > .-item > .-link.-bold,
.header__navbar-list > .-item > .icon-link.-bold {
  font-weight: 600;
}

.header__navbar-list > .-item.-separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  margin-right: -9px;
  right: 0;
}

.header__navbar-list > .-item .-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header__navbar-list > .-item .-user:hover .-user-menu {
  display: block;
}

.header__navbar-list > .-item .-user .-user__img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-list > .-item .-user .-user-name {
  margin-left: 8px;
}

.header__navbar-list > .-item .-user .-user-menu {
  position: absolute;
  padding-left: 0;
  top: calc(100% + 5px);
  right: 0;
  background-color: #fff;
  list-style: none;
  width: 160px;
  z-index: 1;
  -webkit-box-shadow: 0 1px 2px #ddd;
          box-shadow: 0 1px 2px #ddd;
  display: none;
}

.header__navbar-list > .-item .-user .-user-menu::before {
  content: "";
  border: 12px solid;
  border-bottom: 10px solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -22px;
  right: 16px;
}

.header__navbar-list > .-item .-user .-user-menu::after {
  content: "";
  width: 100%;
  height: 25px;
  position: absolute;
  top: -20px;
}

.header__navbar-list > .-item .-user .-user-menu .-user-item {
  text-align: left;
}

.header__navbar-list > .-item .-user .-user-menu .-user-item a {
  display: block;
  padding: 8px;
  padding-left: 20px;
  text-decoration: none;
  color: #333;
}

.header__navbar-list > .-item .-user .-user-menu .-user-item:hover {
  background-color: #f7f7f7;
}

.header__navbar-list > .-item .-user .-user-menu .-user-item:first-child {
  border-radius: 3px 3px 0 0;
}

.header__navbar-list > .-item .-user .-user-menu .-user-item:last-child {
  border-radius: 0 0 3px 3px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-list > .-disable-hover:hover {
  cursor: text;
  color: #fff;
}

.header__navbar-list > .-has-qr:hover .header__qr {
  display: block;
}

.header__navbar-list > .-has-notify:hover .header__notify {
  display: block;
}

.header__qr {
  -webkit-box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 190px;
  height: auto;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  bottom: auto;
  right: auto;
  padding: 4px;
  display: none;
  -webkit-animation: fadeIn ease-in-out 0.3s;
          animation: fadeIn ease-in-out 0.3s;
}

.header__qr-img {
  width: 100%;
  height: auto;
}

.header__qr-apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__qr-apps > .-link > .-img {
  width: auto;
  height: 17px;
}

.header__qr::before {
  content: "";
  display: block;
  width: 100%;
  height: 25px;
  position: absolute;
  top: -20px;
  left: 0;
}

.header__notify {
  position: absolute;
  background-color: #fff;
  top: calc(100% + 10px);
  left: auto;
  bottom: auto;
  right: 0;
  width: 400px;
  height: auto;
  color: #333;
  border: #d3d3d3 1px;
  -webkit-animation: growth ease-in 0.3s;
          animation: growth ease-in 0.3s;
  -webkit-transform-origin: calc(100% - 20px) top;
          transform-origin: calc(100% - 20px) top;
  display: none;
  z-index: 1;
  -webkit-box-shadow: 0 1px 2px #ddd;
          box-shadow: 0 1px 2px #ddd;
}

.header__notify > .-header {
  margin: 12px;
  cursor: default;
  width: auto;
  height: 30px;
}

.header__notify > .-header h3 {
  margin: 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 30px;
}

.header__notify-list {
  padding: 0;
  list-style: none;
}

.header__notify-list .-item .-link {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #333;
  background-color: rgba(245, 62, 45, 0.1);
}

.header__notify-list .-item .-link .-img {
  width: 48px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__notify-list .-item .-link > .-info {
  margin-left: 10px;
}

.header__notify-list .-item .-link > .-info .-info__name {
  font-size: 1.4rem;
  color: #000;
  font-weight: 600;
}

.header__notify-list .-item .-link > .-info .-info__desc {
  font-size: 1.2rem;
  color: #756f6e;
}

.header__notify-list .-item .-link > .-info p {
  margin: 0;
  line-height: 22px;
}

.header__notify-list .-item .-link:hover {
  background-color: #f7f7f7;
}

.header__notify > .-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__notify > .-footer > .-btn-load-more {
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin: auto;
  font-weight: 600;
}

.header__notify::before {
  content: "";
  border: 12px solid;
  border-bottom: 10px solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -22px;
  right: 16px;
}

.header__notify::after {
  content: "";
  width: 100%;
  height: 25px;
  position: absolute;
  top: -20px;
}

.header-with-search {
  height: calc(90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 8px;
}

.header__logo {
  width: 200px;
}

.header__logo-img {
  width: 150px;
}

.header__logo-img path {
  fill: #fff;
}

.header__logo-link {
  text-decoration: none;
}

.header__search {
  height: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search-input-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.6rem;
  color: #333;
  padding: 0 16px;
}

.header__search-input:focus + .header__search-history {
  display: block;
}

.header__search-history {
  z-index: 2;
  position: absolute;
  top: calc(100% + 14px);
  left: 0;
  background-color: #fff;
  width: calc(100% - 16px);
  -webkit-box-shadow: 0 1px 2px #ddd;
          box-shadow: 0 1px 2px #ddd;
  display: none;
}

.header__search-history .-heading {
  margin: 8px 12px;
  font-size: 1.4rem;
  color: #756f6e;
}

.header__search-history .-list {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.header__search-history .-list .-item {
  height: 38px;
  padding: 0 12px;
  line-height: 38px;
}

.header__search-history .-list .-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header__search-history .-list .-item:hover {
  background-color: #fafafa;
}

.header__search-history .-list .-item .-link {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
  display: block;
}

.header__search-select {
  border-left: 1px #d3d3d3 solid;
  padding: 0 16px;
  position: relative;
  cursor: pointer;
}

.header__search-select .-label,
.header__search-select .-icon {
  font-size: 1.4rem;
}

.header__search-select .-option {
  position: absolute;
  right: 0;
  top: calc(100% + 5px);
  background-color: #fff;
  list-style: none;
  padding: 0;
  width: 130px;
  -webkit-box-shadow: 0 1px 2px #ddd;
          box-shadow: 0 1px 2px #ddd;
  display: none;
  z-index: 2;
}

.header__search-select .-option .-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.header__search-select .-option .-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header__search-select .-option .-item {
  padding: 8px;
  text-align: left;
}

.header__search-select .-option .-item span {
  font-size: 1.4rem;
}

.header__search-select .-option .-item i {
  font-size: 1.2rem;
  color: #ee4d2d;
  margin: 0 0 0 12px;
  display: none;
}

.header__search-select .-option .-item.-active i {
  display: inline-block;
}

.header__search-select .-option .-item:hover {
  background: #fafafa;
}

.header__search-select .-option::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 20px;
  top: -15px;
}

.header__search-select:hover .-option {
  display: block;
}

.header__search .btn-search {
  background: #ee4d2d;
  outline: none;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 34px;
  margin-right: 3px;
}

.header__search .btn-search > .-icon {
  color: #fff;
  font-size: 1.6rem;
}

.header__search .btn-search:hover {
  background: rgba(238, 77, 45, 0.9);
}

.header__cart {
  width: 100px;
  height: auto;
  text-align: center;
}

.header__cart-wrap {
  display: inline-block;
  position: relative;
  padding: 3px 10px;
}

.header__cart-wrap:hover > .header__cart-list {
  display: block;
}

.header__cart-icon {
  color: #fff;
  font-size: 2.4rem;
}

.header__cart-icon + .-icon-notice {
  position: absolute;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #fe6433;
  background: #fff;
  border: 2px solid #ee4d2d;
  border-radius: 10px;
  padding: 1px 7px;
  font-weight: 600;
  top: -6px;
  right: -4px;
}

.header__cart .-no-cart-text {
  font-size: 1.4rem;
  cursor: default;
  display: none;
}

.header__cart .-no-cart-img {
  width: 25%;
  -o-object-fit: contain;
     object-fit: contain;
  display: none;
}

.header__cart .-no-cart {
  padding: 20px 0;
  display: block;
}

.header__cart .-no-cart .-no-cart-text {
  font-size: 1.4rem;
  cursor: default;
  display: block;
}

.header__cart .-no-cart .-no-cart-img {
  width: 25%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: 0 auto;
}

.header__cart .-heading {
  text-align: left;
  margin: 8px 0px 8px 12px;
  font-size: 1.4rem;
  color: #756f6e;
}

.header__cart .-list-items {
  padding: 0;
  list-style: none;
  height: 50vh;
  overflow-y: auto;
}

.header__cart .-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
}

.header__cart .-item:hover {
  background: #f7f7f7;
  cursor: default;
}

.header__cart .-item__img {
  width: 50px;
  height: 50px;
  margin-left: 12px;
  border: 1px solid #e8e8e8;
}

.header__cart .-item__info {
  width: 100%;
}

.header__cart .-item__info-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50%;
}

.header__cart .-item__info-head .-name {
  font-size: 1.4rem;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 5px;
  padding-right: 16px;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  text-align: start;
}

.header__cart .-item__info-head .-price {
  font-size: 1.4rem;
  color: #ee4d2d;
  text-align: right;
  white-space: normal;
}

.header__cart .-item__info-body {
  height: 50%;
  text-align: left;
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__cart .-item__info-body .-category {
  font-size: 1.2rem;
  color: #939393;
}

.header__cart .-item__info-body .-btn-remove {
  font-size: 1.4rem;
}

.header__cart .-item__info-body .-btn-remove:hover {
  cursor: pointer;
  color: #ee4d2d;
}

.header__cart .-btn-view-cart {
  float: right;
  margin: 0 10px 10px 0;
}

.header__cart .-btn-view-cart:hover {
  background: rgba(238, 77, 45, 0.9);
}

.header__cart-list {
  width: 400px;
  height: auto;
  position: absolute;
  top: calc(100% + 10px);
  right: -5px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  display: none;
  -webkit-animation: fadeIn ease-in-out 0.2s;
          animation: fadeIn ease-in-out 0.2s;
  z-index: 2;
}

.header__cart-list::before {
  display: block;
  content: "";
  position: absolute;
  top: -25px;
  right: 6px;
  border-width: 15px 20px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.header__cart-list::after {
  display: block;
  content: "";
  position: absolute;
  top: -25px;
  right: 6px;
  height: 30px;
  width: 80px;
}

.auth-form {
  width: 500px;
  height: auto;
}

.auth-form__container {
  padding: 16px 32px;
}

.auth-form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12px;
}

.auth-form__header > .-heading {
  font-size: 2.2rem;
  font-weight: 600;
}

.auth-form__header > .-btn-switch {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ee4d2d;
  cursor: pointer;
}

.auth-form__content {
  margin-top: 20px;
}

.auth-form__content .form__item {
  margin-top: 16px;
}

.auth-form__content .form__aside {
  margin-top: 20px;
  text-align: center;
}

.auth-form__content .form__aside > .-content {
  font-size: 1.4rem;
  font-weight: 500;
}

.auth-form__content .form__aside > .-content > .-link {
  text-decoration: none;
  color: #ee4d2d;
}

.auth-form__content .form__aside > .form__help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.auth-form__content .form__aside > .form__help .-link {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: #939393;
}

.auth-form__content .form__aside > .form__help .-link.-forgot {
  color: #ee4d2d;
}

.auth-form__content .form__aside > .form__help .-separate {
  display: block;
  border: #d3d3d3 1px solid;
  margin: 0 16px;
}

.auth-form__content .form__controls {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.auth-form__content .form__controls > .btn:first-child {
  margin-right: 8px;
  background-color: #fff;
}

.auth-form__content .form__controls > .btn:first-child:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 12px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.auth-form__socials .btn {
  font-size: 1.2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 8px;
}

.auth-form__socials .btn:first-child {
  margin-right: 10px;
}

.auth-form__socials .btn:last-child {
  margin-left: 10px;
}

.auth-form__socials .btn.-fb {
  color: #fff;
  background-color: #3a5a98;
}

.auth-form__socials .btn.-gg {
  background-color: #fff;
}

.auth-form__socials .btn span {
  margin: 0 24px;
}

.app_container {
  background: #f5f5f5;
}

.app_content {
  padding-top: 24px;
}

.category {
  background-color: #fff;
}

.category_list {
  padding: 0 10px 0 10px;
  list-style: none;
  margin-top: 0;
}

.category_list-heading {
  font-size: 1.7rem;
  color: #333;
  padding: 20px 16px 8px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

.category_list-heading-icon {
  font-size: 1.5rem;
  margin-right: 4px;
}

.category-item {
  border-bottom: 1px solid #dddddd;
}

.category-item__link {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 8px 16px;
  display: block;
}

.category-item.category-item-active > .category-item__link {
  color: #ee4d2d;
}

.category-item:last-child {
  border-bottom: none;
}

.home-filter {
  background-color: #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 22px;
}

.home-filter__label {
  color: #555;
  font-size: 1.4rem;
  margin-right: 16px;
  font-weight: 600;
}

.home-filter .btn {
  width: auto;
  min-width: auto;
  margin-right: 12px;
  padding: 0 15px;
}

.home-filter__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-filter .home-filter__pagination {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-filter .home-filter__pagination .page-num {
  font-size: 1.4rem;
  margin-right: 24px;
  font-weight: 600;
}

.home-filter .home-filter__pagination .page-num .page-current {
  color: #ee4d2d;
}

.home-filter .home-filter__pagination .page-control {
  width: 72px;
  height: 36px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-filter .home-filter__pagination .page-control__left, .home-filter .home-filter__pagination .page-control__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 36px;
  height: 36px;
  text-decoration: none;
  background-color: #fff;
  font-size: 1.4rem;
  color: #333;
}

.home-filter .home-filter__pagination .page-control .-disable {
  background-color: #f9f9f9;
  color: #cccccc;
  border-right: 1px solid #eee;
}

.home-product {
  margin-bottom: 20px;
}

.home-product-item {
  display: block;
  background-color: #fff;
  margin-top: 10px;
  position: relative;
  -webkit-box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform ease-out 0.1s;
  transition: -webkit-transform ease-out 0.1s;
  transition: transform ease-out 0.1s;
  transition: transform ease-out 0.1s, -webkit-transform ease-out 0.1s;
  will-change: transform;
}

.home-product-item:hover {
  -webkit-box-shadow: 0 1rem 20rem 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1rem 20rem 0 rgba(0, 0, 0, 0.05);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.home-product-item .-wrap {
  padding: 8px;
}

.home-product-item__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.home-product-item__name {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  height: 28px;
  margin: 0;
  line-height: 1.4rem;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.home-product-item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  margin-top: 20px;
  line-height: 2.4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-product-item__price .-old-price {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.54);
  margin-right: 5px;
}

.home-product-item__price .-current-price {
  font-size: 1.6rem;
  color: #ee4d2d;
  font-weight: 600;
}

.home-product-item__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

.home-product-item__bottom .-like .-icon-empty {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.54);
}

.home-product-item__bottom .-like .-icon-fill {
  font-size: 1.4rem;
  color: #f53d2f;
  display: none;
}

.home-product-item__bottom .-liked .-icon-empty {
  display: none;
}

.home-product-item__bottom .-liked .-icon-fill {
  display: inline-block;
}

.home-product-item__bottom .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-product-item__bottom .review__stars {
  margin-right: 5px;
}

.home-product-item__bottom .review__stars i {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.3);
}

.home-product-item__bottom .review__stars i.-glod {
  color: #ffce3d;
}

.home-product-item__bottom .review__sold {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 500;
  color: #333;
}

.home-product-item__fav {
  position: absolute;
  top: 5%;
  left: -4px;
  color: #ee4d2d;
  background-color: currentColor;
  font-size: 1.2rem;
  font-weight: 600;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-item__fav span {
  margin: 0 4px;
  color: #fff;
}

.home-product-item__fav::after {
  display: block;
  content: "";
  top: 100%;
  border-top: 4px currentColor solid;
  border-left: 4px transparent solid;
  position: absolute;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.home-product-item__sale-off {
  position: absolute;
  width: 40px;
  height: 36px;
  background-color: rgba(255, 212, 36, 0.9);
  text-align: center;
  top: 0;
  right: 0;
  color: #fff;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  border-top-right-radius: 3px;
}

.home-product-item__sale-off .-percent {
  display: block;
  color: #ee4d2d;
}

.home-product-item__sale-off::after {
  content: "";
  display: block;
  border-width: 0 20px 4px;
  border-color: rgba(255, 212, 36, 0.9);
  border-style: solid;
  position: absolute;
  border-color: transparent rgba(255, 212, 36, 0.9) transparent;
  top: 100%;
}

.home-pagination {
  margin: 40px 0 60px;
}

.footer {
  border-top: 4px #ee4d2d solid;
  background-color: #fbfbfb;
  margin-bottom: 20px;
}

.footer__heading {
  cursor: default;
  margin: 40px 0 20px;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.54);
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-item {
  margin-bottom: 12px;
}

.footer-item__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
  font-size: 1.2rem;
}

.footer-item__link i {
  margin-right: 5px;
}

.footer-item__link:hover {
  color: #ee4d2d;
}

.footer-item__link:hover i {
  color: rgba(0, 0, 0, 0.54);
}

.footer__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__download-qr {
  width: 80px;
  height: 80px;
  padding: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__download-apps {
  margin-left: 16px;
}

.footer__download-apps-img {
  height: 40px;
  padding: 10px;
}
/*# sourceMappingURL=main.css.map */